<div class="container-fluid loginPage">
  <div class="row justify-content-center content">
    <div class="col-ss-10 col-sm-7 col-md-7 col-lg-5">
      <div class="row">
        <div class="col-md-12 px-5 py-5">
          <img src="assets/images/logo.png"
               alt="Techmill"
               class="col-ss-3 col-sm-3 col-md-3 px-0 pt-5" />
          <h3>Sign in to Agency Banking System</h3>
          <h5 class="text-muted">Enter your details below</h5>
          <form [formGroup]="form"
                (ngSubmit)="submit(model)"
                class="pt-2">
            <formly-form [form]="form"
                         [fields]="fields"
                         [model]="model">
              <button type="submit"
                      class="btn btn-primary">Submit</button>
            </formly-form>
          </form>
        </div>
      </div>

    </div>
    <div class="col-lg-7 login-bg d-none d-lg-block">
    </div>
  </div>
</div>