
.sidebar-container {
  position: fixed;
  left: 200px;
  top: 50px;
  width: 0;
  height: 100%;
  margin-left: -200px;
  overflow-y: auto;
  background-color: #e0e0e0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-container .name {
  padding: 20px 0 20px 20px;
  color: #fff;
  margin-bottom: 0;
  background-color: #1d3763;
  text-indent: 0;
}

.sidebar-container .collapsed a:after {
  content: '\f107';
  font-family: FontAwesome;
  font-size: 21px;
  position: absolute;
  right: 15px;
}

.sidebar-container .collapsed a.collapsed:after {
  font-family: FontAwesome;
  font-size: 21px;
  content: '\f105';
  position: absolute;
  right: 15px;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #333333;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #333333;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  background-color: #d1d1d1;
}

.sidebar-nav li.active a {
  background-color: #d1d1d1;
  border-left: 2px solid #1d3763;
}

.sidebar-nav li i {
  margin-right: 5px;
  font-size: 16px;
  text-indent: 0;
}

.show ul li a {
  padding-left: 25px;
  transition: 0.2s;
  transition-timing-function: ease-out;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
